@charset "UTF-8";

@font-face {
    font-family: 'roboto';
    src: url('../_fonts/Roboto-Medium.ttf');
}

:root {
    --cor-primaria: #253342;
    --cor-secundaria: #5e9188;

    --cor-preto: #232226;
    --cor-branco: #ffffff;
    --cor-cinza: #ededf2;
}

* {
    /* border: 1px solid red; */
}

body {
    background-color: var(--cor-cinza);
}

/* header */
/* header */
/* header */

/* main */
/* main */
/* main */

.btn-funcoes a {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 0px;

}

.btn-funcoes i {
    font-size: 25px;
}

.btn-funcoes button{
    border: none;
    background-color: var(--cor-cinza);
    border-radius: 10px;
    padding: 10px;
    color: var(--cor-primaria);
    font-size: 10px;
    border: 1px solid var(--cor-preto);
}