@charset "UTF-8";

@font-face {
    font-family: 'roboto';
    src: url('../_fonts/Roboto-Medium.ttf');
}

:root {
    --cor-primaria: #253342;
    --cor-secundaria: #5e9188;

    --cor-preto: #232226;
    --cor-branco: #ffffff;
    --cor-cinza: #ededf2;
}

* {
    /* border: 1px solid red; */
}

body {
    background-color: var(--cor-cinza);
}

/* header */
/* header */
/* header */


/* main */
/* main */
/* main */

.btn-novo-chamado {
    width: 150px;
    margin: 0 0 0 auto;
}

.btn-novo-chamado a {
    width: 100%;
}

.btn-novo-chamado button {
    color: var(--cor-branco);
    background-color: var(--cor-primaria);
    font-family: 'roboto';
    border: none;
    border-radius: 10px;
    padding: 8px;
    width: 100%;
}

.tabelachamados {
    overflow-x: scroll;
}

.acoes {
    width: 120px;
    height: 50px;
    text-align: center;
    padding: 0px;
}

.acoes2 {
    width: 80px;
    height: 50px;
    text-align: center;
    padding: 0px;
}

.btn-acoes {
    display: block;
    margin: 0 auto;
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.btn-acoes i {
    font-size: 20px;
}

.dataTables_paginate {

}

.paging_simple_numbers {
    text-align: center;
}

.dataTables_paginate a{
    margin: 10px;
    font-size: 20px;
    color: var(--cor-primaria); 
    text-decoration: underline;
}

.dataTables_paginate a:hover {
    color: var(--cor-secundaria);
}

.dataTables_filter input{
    background-color: var(--cor-branco);
    border: 2px solid var(--cor-primaria);
    border-radius: 10px;
    padding: 5px;
}

.dataTables_filter input:focus{
    
}
/* footer */
/* footer */
/* footer */