@charset "UTF-8";

@font-face {
    font-family: 'roboto';
    src: url('../_fonts/Roboto-Medium.ttf');
}

:root {
    --cor-primaria: #253342;
    --cor-secundaria: #5e9188;

    --cor-preto: #232226;
    --cor-branco: #ffffff;
    --cor-cinza: #ededf2;
}

* {
    /* border: 1px solid red; */
}

body {
    background-color: var(--cor-cinza);
}

/* header */
/* header */
/* header */

/* main */
/* main */
/* main */

.btn-funcoes a {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 0px;

}

.btn-funcoes i {
    font-size: 25px;
}

.btn-funcoes button{
    border: none;
    background-color: var(--cor-cinza);
    border-radius: 10px;
    padding: 10px;
    color: var(--cor-primaria);
    font-size: 10px;
    border: 1px solid var(--cor-preto);
}

.btn-finalizar {
    color: var(--cor-branco);
    background-color: var(--cor-primaria);
    font-family: 'roboto';
    border: none;
    border-radius: 10px;
    padding: 8px;
    height: 45px;
    transition: 0.3s;
    width: 50%;
    margin: 0 auto;
}

.btn-finalizar:hover {
    color: var(--cor-preto);
    background-color: var(--cor-branco);
    border: 1px solid var(--cor-preto);
    transition: 0.3s;
}

.inputsenha {
    margin: 0 auto;
    width: 50%;
}

@media (max-width: 768px) { 
    header li {
        margin: 10px;
        text-align: center;
    }
    header li, header button {
        width: 100%;
    }
    .inputsenha {
        width: 100%;
    }
    .btn-finalizar {
        width: 100%;
    }
}

/* footer */
/* footer */
/* footer */