@charset "UTF-8";

@font-face {
    font-family: 'roboto';
    src: url('../_fonts/Roboto-Medium.ttf');
}

:root {
    --cor-primaria: #253342;
    --cor-secundaria: #5e9188;

    --cor-preto: #232226;
    --cor-branco: #ffffff;
    --cor-cinza: #ededf2;
}

* {
    /* border: 1px solid red; */
}

body {
    background-color: var(--cor-cinza);
}

/* header */
/* header */
/* header */

header {
    background-color: var(--cor-branco);
}

header h1 {
    font-family: 'roboto';
}

header button, header li {
    background-color: var(--cor-primaria);
    color: var(--cor-branco);
    border-radius: 10px;
    border: none;
    transition: 0.3s;
    width: 150px;
}

.dropdown-menu {
    width: 100px;
}

.dropdown-menu li{
    background-color: var(--cor-branco);
    width: 85%;
    font-size: 16px;
}

.dropdown-menu a {
    width: 100%;
    padding: 10px;
}

header button:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

header li {
    margin-right: 10px;
    margin-left: 10px;
}

.nav-botao-desabilitado {
    background-color: gray;
}

header i {
    color: var(--cor-preto);
    font-size: 25px;
}

.nav-link {
    color: var(--cor-branco);
    font-family: 'roboto';
}

.nav-link:hover {
    color: var(--cor-branco);
}

@media (max-width: 768px) { 
    header li {
        margin: 10px;
        text-align: center;
    }
    header li, header button {
        width: 100%;
    }
}

/* main */
/* main */
/* main */

.btn-funcoes a {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 0px;

}

.btn-funcoes i {
    font-size: 25px;
}

.btn-funcoes button{
    border: none;
    background-color: var(--cor-cinza);
    border-radius: 10px;
    padding: 10px;
    color: var(--cor-primaria);
    font-size: 10px;
    border: 1px solid var(--cor-preto);
}

.btn-finalizar {
    color: var(--cor-branco);
    background-color: var(--cor-primaria);
    font-family: 'roboto';
    border: none;
    border-radius: 10px;
    padding: 8px;
    height: 45px;
    transition: 0.3s;
}

.btn-finalizar:hover {
    color: var(--cor-preto);
    background-color: var(--cor-branco);
    border: 1px solid var(--cor-preto);
    transition: 0.3s;
}
/* footer */
/* footer */
/* footer */